{% extends "base.html" %}
{% block content %}
<h1>Edit Post</h1>
<form method="post" action="/posts/update/{{ post.id }}">
    <label for="title">Заголовок:</label>
    <input type="text" name="title" id="title" value="{{ post.title }}" required>
    <br>
    <label for="content">Содержание:</label>
    <textarea name="content" id="content" required>{{ post.content }}</textarea>
    <br>
    <button type="submit">Сохранить изменения</button>
</form>
<a href="/posts">Вернуться к постам</a>
{% endblock %}
